<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

    </head>
    <body>
        <%- include('../partial/header.ejs') %> 
        <div class="container">
        <h3>Welcome to My website - FARMS!</h3>
        <p>On this website you can create Farms, add products to it by categories</p> 
        <p>Authenticating and Authorization is also operational on this site.</p>
        <p>The website is designed by Sabby K in 2021 who will keep adding more functionalities.</p>
        <a class="btn btn-primary" href="/farms">Explore!</a>
        </div>

        
        
        <script src="" async defer></script>
    </body>
</html>
<!-- <i class="fas fa-sign-in-alt"></i> -->

